# breezepod Light v1.0
# Made with <3 by Stormy (https://0stormy.xyz)
# Probably a little broken lol

wps: /.rockbox/wps/breezepod.wps
sbs: /.rockbox/wps/breezepod.sbs
font: /.rockbox/fonts/17-NotoSans-Regular
iconset: /.rockbox/icons/bp-icons_dark.bmp
statusbar: custom
ui viewport: -
foreground color: FCFCFC
background color: #141618
selector type: bar (color)
line selector start color: #284d60
line selector text color: FCFCFC
